<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div class="app-background" data-ng-app="plotting">
      <!-- The navigation tabs -->
      <div class="app-nav" data-ng-controller="NavController">
        <div class="app-tab" data-ng-repeat="tab in tabs">
          <a href="{{tab.path}}">{{tab.name}}</a>
        </div>

        <div class="visitor-info">
          <input type="text" placeholder="Your Name" ng-model="visitor.name"/>
          <input type="email" placeholder="Your E-mail" ng-model="visitor.email"/>
        </div>
      </div>

      <!-- The application view area -->
      <div class="app-view" data-ng-view></div>

      <!-- The footer containing application details -->
      <footer></footer>
      <!--div footer></div-->

      <!-- In production use:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
      -->
      <script src="lib/angular/angular.js"></script>
      <script src="lib/angular/angular-route.js"></script>
      <script src="js/app.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
    </div>
</body>
</html>
